<% if user_signed_in?  %>
  <% if (@rel.present? || @current_user_owner_article) %> 
    <div id="form">
    <h4 class="label-add-title">Add a comment:</h4>
      <div class="col">
        <%= form_with model: [ @article, @article.comments.build ] do |form| %>

          <div class="label-tittle-article-comment">
            <%= form.label :commenter %><br>
              <%= form.hidden_field :commenter, value: current_user.email %>
              <%= current_user.email %>
          </div>

          <div class="label-body-article-comment">
            <%= form.label :body %><br>
            <%= form.text_area :body, class: "form-control" %>
          </div>

          <div class="label-select-article-comment">
            <%= form.label :status %><br>
            <%= form.select :status, ['public', 'private', 'archived'], selected: 'public', class:"form-select" %>
          </div>

          <div class="label-submit-article-comment">
            <button class="btn btn-success" type="submit">Publish comment</button>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="row-center">
      <h6>Follow <%= @user.email %> to add a comment</h6>
    </div>
  <% end %>
<% end %>
