<div id="form">
  <div class="col">
    <%= form_with model: article do |form| %>
      <div class="label-tittle-article-comment">
        <%= form.label :title %><br>
        <%= form.text_field :title, required: true, class: "form-control" %>
        <% article.errors.full_messages_for(:title).each do |message| %>
          <div class="invalid-feedback">
            <%= message %> 
          </div>
        <% end %>
      </div>
      <div class="label-body-article-comment">
        <%= form.label :body %><br>
        <%= form.text_area :body, required: true, class: "form-control" %><br>
        <% article.errors.full_messages_for(:body).each do |message| %>
          <div class="error-body-article">
            <%= message %> 
          </div>
        <% end %>
      </div>
      <div class="label-select-article-comment">
        <%= form.label :status %><br>
        <%= form.select :status, ['public', 'private', 'archived'], selected: 'public', class:"form-select" %>
      </div>
      
      <div class="label-submit-article-comment">
        <%= form.hidden_field :owner, value: current_user.id %>
        <button class="btn btn-success" type="submit">Publish article</button>
      </div>
    <% end %>   
  </div>
</div>
<%= render "footer" %>
