<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>

  <body>
    <header class="container-xxl text-center" id="header">

      <div class="row log-option">
        <%if user_signed_in? %>
          <a class="btn btn-outline-primary" id="log-button" href="<%= destroy_user_session_path %>">Sign Out</a>
        <% else %>
          <a class="btn btn-outline-primary" id="log-button" href="<%= new_user_session_path %>">Login</a>
          <a class="btn btn-outline-primary" id="log-button" href="<%= new_user_registration_path %>">Sign Up!</a>
        <% end %>
      </div>

      <div class="row">
        <h1>New awesome blog!</h1>
      </div>

      <div class="row">
          <h2>Articles</h2>
          <p>
            Our blog has <%= Article.public_count %> articles and counting!
          </p>
      </div>

    </header>
      
    <main class="container" id="main">

        <%if user_signed_in? %>
          <a class="btn btn-outline-primary" id="new-link" href="<%= new_article_path %>">New article</a>
        <% end %>
  
        <% @articles.each do |article| %>
          <% unless article.archived? %>
            <div class="card" id="card-articles" >
              <div class="card-body">
                <h5 class="card-title"> <%= article.title %> </h5>
                <p class="card-text"> <%= article.body %> </p>
                <%= link_to "Continue reading...", article %>
              </div>
            </div>     
          <% end %>
        <% end %>
         
    </main>

    <footer>
      <div id="author">
        <a href="https://github.com/Miguel0577">
          <img src="https://img.icons8.com/sf-ultralight-filled/50/FFFFFF/github.png"/>
        </a>
        <a href="https://www.linkedin.com/in/miguelbuitrago/">
          <img src="https://img.icons8.com/glyph-neue/47/FFFFFF/linkedin-circled.png"/>
        </a>
      </div>
    </footer>

  </body>
</html>