<main>
  <div id="show">
    <div class="col">
      <div class="show-article">
        <h1><%= @article.title %></h1>
        <p><%= @article.body %></p>
      </div>

      <div class="row info-article">
        <p class="row article-created-at">Author: <%= @user.email %></p>
        <p class="row article-owner">Created at: <%= @article.created_at %></p>
      </div>

      <div class="buttons-modify-article">
        <% if user_signed_in?  %>
          <% if current_user_owner_article? %> 
              <%= link_to "Edit", edit_article_path(@article), class:"btn btn-warning button-edit-article" %>
              <%= link_to "Destroy", article_path(@article), data: {
                turbo_method: :delete,
                                turbo_confirm: "Are you sure?"
                              }, class:"btn btn-danger button-destroy-article" %>   
              <% end  %>
        <% end  %>
      </div>
      <h4>Comments</h4>
      <%= render @article.comments %>
    </div>
  </div>
  <%= render 'comments/form' %>
</main>
<%= render "footer" %>
