<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>

  <body>

    <h1><%= @article.title %></h1>
    <p><%= @article.body %></p>

    <% if user_signed_in?  %>
      <% if @current_user_owner_article %> 
        <ul>
          <li><%= link_to "Edit", edit_article_path(@article) %></li>
          <li><%= link_to "Destroy", article_path(@article), data: {
            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                          } %></li>
        </ul>    
      <% end  %>
    <% end  %>

    <h4>Comments</h4>
    <%= render @article.comments %>

    <%= render 'comments/form' %>

  </body>
</html>
