<div id="show-user-profile">
      <img src="https://img.icons8.com/external-sbts2018-outline-sbts2018/100/000000/external-profile-seo-4.-1-sbts2018-outline-sbts2018.png"/>

      <p class="user-email"><%= @user.email %></p>

      <% unless @actual_current_user %>
        <%= link_to "Follow", user_follows_create_path(@user), method: :post, class: 'btn btn-success' unless @rel.present? %>
        <%= link_to "Unfollow", follows_destroy_path(@rel.id), method: :delete, class: 'btn btn-danger' if @rel.present? %>
      <% else %>
      <p class="user-email-actual">Your profile!</p>
      <% end %>

      <p>Followers: <%= @user.followers.count %></p>
      <p>Following: <%= @user.following.count %></p>
</div>